<div class="login-wrapper">
    <div class="login-form">
        <h2>Bejelentkezés</h2>
        <a routerLink="/">Vissza</a>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email-cím</label>
                <input type="email" class="form-control" formControlName="email" required>
            </div>
            <div class="form-group">
                <label for="password">Jelszó</label>
                <input type="password" class="form-control" formControlName="password" required>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Bejelentkezés</button>
                <button type="submit" class="btn btn-primary m-3" routerLink="/register">Regisztráció</button>
            </div>
        </form>
    </div>
</div>
